# Introduction

Introduction where you discuss the business problem and who would be interested in this project
Recommend a new area to open IB school in Dubai based on schools proximity, School Fees, Dubai Rental values. Customer wants to know
5 possible locations to start a new IB school in Dubai. Best possible locations to be determined based on area cluster, curriculum
of the schools, afforability and access to certain important points like transportation, library etc.,

Data Collection:
    1. Bayut.com - Property search enterprise publishes report on rental values quarterly basis
    2. www.edarabia.com - Number 1 education guide lists down all schools and universities.
    3. KHDA.com - Knowledge and Human Development Authority sets Education fees by maintaining the education cost index. KHDA is
    responsible for regulating the quality of Dubai private education
    4. Foursquare - builds location-aware experiences with Foursquare technology and data.
    
Data Usage to solve the problem:
    1. Bayut - Lists down properties with rental values by area
    2. edarabia.com - Lists down all the schools by Name, curriculum
    3. KHDA.com - Lists down school details, ranking and fees details
    4. Geocoder - Geo Location is determined using geocoder python api to determine latitude and longitude
    5. Foursquare - Latitude and Longitude determined using geocoder is used to determine areas of interest around the school location.
    
Problem solving:
    1. Data Preparation and cleansing (will be explained in next assignment)
    2. Determination of Pearson correlation (will be explained in next assignment)
    3. Machine Learning to build recommendation system (will be explained in next assignment)

In [47]:
## Tried to extract using beautiful soup but crawling has been disabled.
##specify the url
#page = requests.get('https://www.edarabia.com/dubai-school-fees/')

## parse the html using beautiful soup and store in variable `soup`
#soup = BeautifulSoup(page.text, 'html.parser')
#school_fees_table =  soup.find(class_='table-responsive')

In [4]:
import pandas as pd
import numpy as np

In [78]:
#path='https://public.boxcloud.com/d/1/b1!manawMz5IThUC4ob7VIOVeaxVdm_8xgRcJwo2Hj6yt728aM5ceKC7PthZppfMDmiHPVTFtSj3PydwmyUxuiqHe8vQw-srydVgUcZrV2T_pqD6zOURxP_7FcwnRt4WwIrWctySY-pCh3-gf_m00KB_vVMGEGBTh2izWNdCtRk25nZiwzYSfCLaTOACUMfY6Ogitmzv1x9uzF_23WnZiAHl7Gd5Z-tE2EJNg19Wi797MruzU9f4mgPS2yt-j2B_uEOlQhTa93U6VFn6sZaaBSs3W7HZ8bUDZHxuVlzTm3DqYlaGL3pkBaTisIkgzlWkrVT8ta2QZ7osvhVlMEAUxENjS1wHFh-rhvX4q4kXT6bRAtaqRrT_uIINg8f_hRZaNnJjQ20S2A_mM2EB0zpR975NI5QK0RmsEnE3ulKPkc2XYWbgdVKjtjUZN_pWvD9wVUe0_TchhjfAQlD9uuuqCP6mVVl0XNePYPYRPQSFai1_vDEcbrCoVyrUYoErnPtMpTCACfC011mPlmsSXWN_EI69ccpjHL0XoBlXaqejKOTWMFFS61rnGTZuKp_gZcX1ShLNNA_r0TB4BxDf5XbW3reLv0r8Gq6WrWzA-Y9b9RHZ5nlKjHUvz-rOI2nJ1jnw3KKY56To5Ii1bD_JUttXjsf6IkBW2mdoG9aZ8o-ujBWHV_KVLYlbtlz5UkjC4Rl4AFtMSizl5AXqHr-0LWtErqy94iJrJElpKMPbMu3XHfL7B4PuWtsPIgHbNHfzkxKrIsVWc2segqQkQvLYUIT09HLcAmTtRYD6YVCin1zvaJguGp7Ad4_sd0MrOjbBRNVdLNo9BTwUXrQs7n3DS9E-1t7FJ2Xn72pOiQGSnRBW_YXx0tmVAnY8Mr0xesKymFSY9SsfFPp0pwFFYMbf7vUr_RbyykB8KBdFHslfjeWEfT-ZqRqXUjCfQv-EokxZwGMQt_zfbWM0yxYE1oOI25ofczwxgzbdtK3Bo_6RTIzGLtLhFpqWaETX_Cb4RBNXib0BpMPEpNWIyxK7Bvfv4K3yV_SskTTPSbJsNs9uzlLAM-Kh-GW2qMDzyj8TripzgPiItPHMhuYJTdoeBhBUfkQE3mO1AfIcs1BdIjKXyEL6fjiI91uRlOS0b2pNsLqr0Pv0Jc3prpS6HBpgv9NWcqAc8hgHDp45RDSTcm9ZBvCwqAPXA9KXVFVXwisvgydKavse9p9geAUQhCBHCpKd9OOzup8z4SCNih5J00r8egNfoC0OjtsXoyrv6IJKN3YZ9HzFrEv7CluiWXZ0Gh7u0bYbHGA2HgLcUcKdIulfUwPOBHCsJVfvU6e4-pOJOP8SnkKhR5UIMhYR-nFne9fF-e07lAyBsSbpVXpic-BpKpC610M75wUOXzMv_cjpSFzTa7ZjA0WJjf5/download'
#df_data_school_details = pd.read_csv(path,encoding='cp1252')
#df_data_school_details.replace(np.nan, 0, inplace=True)
#df_data_school_details.to_csv('df_data_school_details.csv')
#df_data_school_details.head()

,Name,CURR.,FS1,KG1/FS2,KG2/Y1,G1/Y2,G2/Y3,G3/Y4,G4/Y5,G5/Y6,G6/Y7,G7/Y8,G8/Y9,G9/Y10,G10/Y11,G11/Y12,G12/Y13
0,Adab Iranian Private School,Iranian,0.0,8778.0,8778.0,11284.0,11284.0,11284.0,11284.0,11284.0,13792.0,13792.0,13792.0,16300.0,16300.0,18808.0,18808.0
1,Al Ameen Private School,"British, IGCSE",9411.0,9411.0,10037.0,10037.0,10037.0,10037.0,10037.0,10037.0,10667.0,10667.0,10667.0,10667.0,10667.0,0.0,0.0
2,Al Arqam Private School,MOE,0.0,7791.0,8196.0,9095.0,9095.0,9095.0,9916.0,9916.0,9916.0,11597.0,11597.0,11597.0,14961.0,15788.0,16618.0
3,Al Diyafah High School,British,0.0,10701.0,11304.0,11304.0,11304.0,11634.0,11634.0,11634.0,11887.0,13523.0,14927.0,18922.0,18922.0,19232.0,22725.0
4,Al Eman School Dubai,MOE,0.0,5707.0,5707.0,5881.0,5881.0,5881.0,6918.0,6918.0,6918.0,8503.0,8503.0,8503.0,0.0,0.0,0.0

In [50]:
!pip install opencage

Requirement not upgraded as not directly required: opencage in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages
Requirement not upgraded as not directly required: six>=1.4.0 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from opencage)
Requirement not upgraded as not directly required: Requests>=2.2.0 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from opencage)
Requirement not upgraded as not directly required: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from Requests>=2.2.0->opencage)
Requirement not upgraded as not directly required: idna<2.7,>=2.5 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from Requests>=2.2.0->opencage)
Requirement not upgraded as not directly required: urllib3<1.23,>=1.21.1 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from Requests>=2.2.0->opencage)
Requirement not upgraded as not directly required: certifi>=2017.4.17 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from Requests>=2.2.0->opencage)

Following code was executed to collect the latitude, longitude and area

In [51]:
from opencage.geocoder import OpenCageGeocode
from pprint import pprint
import time

In [52]:
# @hidden_cell
key = '2700a7689bf64070b3e5d0ac19803c0d'

In [53]:
geocoder = OpenCageGeocode(key)
school_name = "Victory Heights Primary School, Dubai"
geocoder = OpenCageGeocode(key)
results = geocoder.geocode(school_name)
latitude = results[0]['geometry']['lat']
longitutde = results[0]['geometry']['lng']
print (latitude)
print (longitutde)
print(u'%f,%f,%s,%s,%s' % (results[0]['geometry']['lat'], 
                        results[0]['geometry']['lng'],
                        results[0]['components']['suburb'],
                        results[0]['components']['country_code'],
                        results[0]['annotations']['timezone']['name']))
#pprint(results)

25.0351877
55.2224797
25.035188,55.222480,Dubai Sports City,ae,Asia/Dubai

In [54]:
#def getLatLng(school_name):
#    results = geocoder.geocode(school_name)
#    latitude = results[0]['geometry']['lat']
#    longitutde = results[0]['geometry']['lng']
#    area = results[0]['components']['suburb']
#    return (latitude, longitutde)

In [55]:
#for index, row in df_data_school_details.iterrows():
#    print(row['Name'])
#    (lat,lng) = getLatLng(row['Name'])
#    df_data_school_details['latitude'] = lat
#    df_data_school_details['longitutde'] = lng
#    df_data_school_details['area'] = area

In [82]:
#path='https://public.boxcloud.com/d/1/b1!Oh6imhTHxtbXWiKe-Dw-rsW3Nu3sNI9RzF8PvVDD9TPx3KhMpHbfOqzK3bl83MfZsBmLHB6lJpOn9SV7Z5j8wVpoZwgrNLViquzAW_omFKK90-W8dun3MXUMQ8QEFhPLovptiHSMcGhkI_ogZwI9t-0xIkVk6TSNM64r2A-wfs00_dO6R9wMUTnBHksqLsyFmwcW6DLwV5br1Og7Ryf-abZ2gskob2cb9mW0tzUO7p5rM-szVbTN9MB6n7rEQm7FnPQvucxWQq6RkpBJtwRLVPTA8UwuW9Hw_Od7izAXFmL4VQ93QfeOk4kx9jr8MmPgAlb5eABR-QirOJPCmeNaDmPTLMKhuM79XwlDQCsQK-G9O7q_F0YLMN_L8yFPqRjqZfd0RQuVUjvZsAzV2XOBU6IBgxr8V7SIUBfoK1D5EA9GCfnGA0VP0uYk8H_sJ54LtPKE9g8a6Pl9maiTmQL8oiPWX5hOKE3Tko8WYMsdcbH_Yi9WHc34Ghorj9fLDFlWuT465VLynud_DYJfa1jkXPbxik8CdLAk0HeLfVmuyIJrKRDrMKRRzNQE4DYGwnlTdd0NM6VjOPVWFIjHxjCMwoxiR69eNDoNH4vwz_5N_AYNniaqHEFRWvlrXGcXzRK5Lku_Fc2kkyC1w2pf2ugHtsamdBZqdyodCJc865TV-lwFXad6-sEJ65a6mO7sSxsZNlE6zOxdpxtqhpTVxika2xF-5HfJ06aH_QeBDmiclM089DNdStCRceLPC7K4K5nSOEej0An0nM75sQvtjlTXpmN0sRMuuOTwr90z_fDeKSXlntZ8QEaErqAWRPbm1pycvwju9m0HVvMisOrXTjUZwpbCD6MTHXwGtFi-Kwwka78jkrNNaDXxBGKyZiIdEIFHTLK0vmWDxy27kdyrFnYdJV3zPUoC9JI0wPTVt98QgRdrGJV4fNuLmMLGrY0bd0fgmYq0AqBoazMiReIfnG-JXBez65rpPWLw9D6Qszz1fXZGN_nzr013tmei2v_odKBjjdDVs9lTxCu7xac6IqkpWpkqJTXphCggSz_wsbag0eokrAUn7vHOIMeqXMrDwQXfYxiFb93SxhDiT4TYeL1KTbu6Z_Ehr_sDtb_n1huxeLux-vpgnfWQiU1jqbW7hXQdS7Ef5JpUIVGp7G1NAGlvjN8SQ4RK6nEeZ-gGh4CKYK8UaS5kuk6rXy4BiTAEF1rJguHtcVsZg00FW3HQHNtXEzfEvUZ166n4DktmVObkxkNhWrci1sOUnYT-PFDmH928PUQA_MrveXedzaVT9YvthdOzwjLFFbVc53io5Qqj8L4kfvcd1HhHbpDn7xYfvRLwJa_WffrWPZTICR1zfS74RZZXmxY05Efymt8-JvUrBtBeWu0pm_qfwtoh9d6_vsY./download'
#df_data_school_details_geo = pd.read_csv(path,encoding='cp1252')
#df_data_school_details_geo.replace(np.nan, 0, inplace=True)
#df_data_school_details_geo.to_csv('df_data_school_details_geo.csv')
#df_data_school_details_geo.head()

,Name,Latitude,longitutude,area,Curriculum-1,Curriculum-2,FS1,KG1-FS2,KG2-Y1,G1-Y2,...,G6-Y7,G7-Y8,G8-Y9,G9-Y10,G10-Y11,G11-Y12,G12-Y13,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Al Arqam Private School,25.108474,55.189122,Al Barsha,MOE,0,0.0,7791.0,8196.0,9095.0,...,9916.0,11597.0,11597.0,11597.0,14961.0,15788.0,16618.0,0.0,0.0,0.0
1,Al Diyafah High School,25.290112,55.374734,Al Nahda 2,British,0,0.0,10701.0,11304.0,11304.0,...,11887.0,13523.0,14927.0,18922.0,18922.0,19232.0,22725.0,0.0,0.0,0.0
2,Al Eman School Dubai,25.230753,55.389201,Al Khawaneej 2,MOE,0,5707.0,5707.0,5881.0,5881.0,...,8503.0,8503.0,8503.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,"Al Ittihad Private School,Al Mamzar",25.300585,55.344829,Al Mamzar,American,0,18180.0,17495.0,17495.0,20290.0,...,22115.0,28275.0,28275.0,28275.0,35675.0,35675.0,40865.0,0.0,0.0,0.0
4,"Al Ittihad Private School,Jumeirah",25.180685,55.240945,Al Quoz,American,0,0.0,21145.0,21145.0,28195.0,...,33060.0,35005.0,35005.0,35005.0,43145.0,43145.0,43145.0,0.0,0.0,0.0

In [89]:
df_data_school_details_geo_csv = pd.read_csv('df_data_school_details_geo.csv')
df_data_school_details_geo_csv.head(5)

,Unnamed: 0,Name,Latitude,longitutude,area,Curriculum-1,Curriculum-2,FS1,KG1-FS2,KG2-Y1,...,G6-Y7,G7-Y8,G8-Y9,G9-Y10,G10-Y11,G11-Y12,G12-Y13,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,0,Al Arqam Private School,25.108474,55.189122,Al Barsha,MOE,0,0.0,7791.0,8196.0,...,9916.0,11597.0,11597.0,11597.0,14961.0,15788.0,16618.0,0.0,0.0,0.0
1,1,Al Diyafah High School,25.290112,55.374734,Al Nahda 2,British,0,0.0,10701.0,11304.0,...,11887.0,13523.0,14927.0,18922.0,18922.0,19232.0,22725.0,0.0,0.0,0.0
2,2,Al Eman School Dubai,25.230753,55.389201,Al Khawaneej 2,MOE,0,5707.0,5707.0,5881.0,...,8503.0,8503.0,8503.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,"Al Ittihad Private School,Al Mamzar",25.300585,55.344829,Al Mamzar,American,0,18180.0,17495.0,17495.0,...,22115.0,28275.0,28275.0,28275.0,35675.0,35675.0,40865.0,0.0,0.0,0.0
4,4,"Al Ittihad Private School,Jumeirah",25.180685,55.240945,Al Quoz,American,0,0.0,21145.0,21145.0,...,33060.0,35005.0,35005.0,35005.0,43145.0,43145.0,43145.0,0.0,0.0,0.0

In [90]:
#path='https://public.boxcloud.com/d/1/b1!dlzq3nqamJFrmYO4r0g8Seb38v13TgOutRnj8T2AGixnF3sK_5AqVZlhBGAJuf5Wnw5YFAKRUBZoh3JCh6IZHoj4dJAF5rywEGjdUyTnX4NnzSLpe9jMV2xWoOwoxVeysWzwbGNY3eVX1VFWeyxslK8JwF7Bn1Clv9GflHcCoxcoAV1oXtBie9bYimYobR5C0subGZ-21zAD9StNceuEsC6GzOT7dLb_Q-jsUEUXeR64vj3wMuo9SefJcVWNpdrZ_ptnG6kdYRRopO6RNJfWnTgtopjP-LqW7JtHesvIemTK5Ty8TgZoeCgLEg1DJSsGxpnJF3i0thUpZSw63JKKq1dtvvqyWRPTb26uir1mqGlCb57mpEkXhz914fQI4We1kecHuaFCuI3v7tbb3qE1lCFSmN3ylguttDqXwPfJUYwxPCUbjTCkI8j_8cyrIO2o1cpKqJgehPGuRvTMdnKbhAKburCuxDPovyILhFOwKdx7z-6gY7X2LEogmzYnpZlmsL6GtoW6IFDe9LpjI8WabIK7p6lUJftIwsS_y-hawtmGlcxaIZy2GO2TUsYfngCddPG0QKgPtavaqfkh6jijNj2mef8QXJQLVq0rPNeef4zwWY_C3aBWXx03e2_IjAWGFhCB6o9WrwgxU8P3QY0McAB1H4Ov5-XFEc52Usi6u4xVWg4m4I1A3qVcGrkdS0sI8UHV2eFxYNH8Mhd_rAZI48PbepkwfDMQB3uWcalVaDYI7ZEN_FofzhlKGcZvEl2WxSzEUKxmnxCSIA2mq7WC4yz1QhKHS1Bmz-5aB5QQihx5aAQrJ7FxZ9RDtaizr9A1NU9Nz4TnJZm0EXLgwsUPlRITg1og_w8PKHhucz5PZqsf15Gcs5croXJL020sS6ZouCAoRzqsGdpENUqCKILJ7OXEZjlLsb5L7fhBOOWcckUSOtSpEN-cxr2H49GL9tnRdRoAKCjqriU0l79t5oAa6CtYIY4nW1UL790JVWaQgCGwVaPiDUUQhZzLDWxk_nwpstnlBTZWpqKpSVoVIIqrISOBv6seMPZSvv2vmEZVOEtpy7_kGR77EHGk5I4olnlQnZoixvKxX6osXt6ebAMQQc4QJH1O1KHzXV1YP5SY1DXGeasbh9IQYhSv3weQQ5V46FxjCoCv2d00X6ZbnXvNjZGKSKxT0zirl5F4-O-R3NHEam3KrJf_7oElZtFMKcli6Ge-al0KVjm1ycn7bDWwRF1sSjVwqWVqVW8Bay9nSCwwnGDmF2Dk2qw1ZmeUxrlQeKP941v5bKawievJMAEFkkPwuuqa_G-IzJc1mMpycVBLg92BBkN1wG3LFMaoez8m4TtNYeKusBwfpAEW-DkpJKIs_4s8Do8HhkMXS1O09nZNysWaevY0Y48a-ebgnNc./download'
#df_data_school_details_geo_area = pd.read_csv(path,encoding='cp1252')
#df_data_school_details_geo_area.replace(np.nan, 0, inplace=True)
#df_data_school_details_geo_area.to_csv('df_data_school_details_geo_area.csv')
#df_data_school_details_geo_area.head()

,Name,Latitude,longitutude,area,Curriculum-1,Curriculum-2,FS1,KG1-FS2,KG2-Y1,G1-Y2,...,G6-Y7,G7-Y8,G8-Y9,G9-Y10,G10-Y11,G11-Y12,G12-Y13,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Al Arqam Private School,25.108474,55.189122,Al Barsha,MOE,0,0.0,7791.0,8196.0,9095.0,...,9916.0,11597.0,11597.0,11597.0,14961.0,15788.0,16618.0,0.0,0.0,0.0
1,Al Diyafah High School,25.290112,55.374734,Al Nahda,British,0,0.0,10701.0,11304.0,11304.0,...,11887.0,13523.0,14927.0,18922.0,18922.0,19232.0,22725.0,0.0,0.0,0.0
2,Al Eman School Dubai,25.230753,55.389201,Al Khawaneej,MOE,0,5707.0,5707.0,5881.0,5881.0,...,8503.0,8503.0,8503.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,"Al Ittihad Private School,Al Mamzar",25.300585,55.344829,Al Mamzar,American,0,18180.0,17495.0,17495.0,20290.0,...,22115.0,28275.0,28275.0,28275.0,35675.0,35675.0,40865.0,0.0,0.0,0.0
4,"Al Ittihad Private School,Jumeirah",25.180685,55.240945,Al Quoz,American,0,0.0,21145.0,21145.0,28195.0,...,33060.0,35005.0,35005.0,35005.0,43145.0,43145.0,43145.0,0.0,0.0,0.0

In [91]:
df_data_school_details_geo_area_csv = pd.read_csv('df_data_school_details_geo_area.csv')
df_data_school_details_geo_area_csv.head(5)

,Unnamed: 0,Name,Latitude,longitutude,area,Curriculum-1,Curriculum-2,FS1,KG1-FS2,KG2-Y1,...,G6-Y7,G7-Y8,G8-Y9,G9-Y10,G10-Y11,G11-Y12,G12-Y13,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,0,Al Arqam Private School,25.108474,55.189122,Al Barsha,MOE,0,0.0,7791.0,8196.0,...,9916.0,11597.0,11597.0,11597.0,14961.0,15788.0,16618.0,0.0,0.0,0.0
1,1,Al Diyafah High School,25.290112,55.374734,Al Nahda,British,0,0.0,10701.0,11304.0,...,11887.0,13523.0,14927.0,18922.0,18922.0,19232.0,22725.0,0.0,0.0,0.0
2,2,Al Eman School Dubai,25.230753,55.389201,Al Khawaneej,MOE,0,5707.0,5707.0,5881.0,...,8503.0,8503.0,8503.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,"Al Ittihad Private School,Al Mamzar",25.300585,55.344829,Al Mamzar,American,0,18180.0,17495.0,17495.0,...,22115.0,28275.0,28275.0,28275.0,35675.0,35675.0,40865.0,0.0,0.0,0.0
4,4,"Al Ittihad Private School,Jumeirah",25.180685,55.240945,Al Quoz,American,0,0.0,21145.0,21145.0,...,33060.0,35005.0,35005.0,35005.0,43145.0,43145.0,43145.0,0.0,0.0,0.0

In [86]:
#path='https://public.boxcloud.com/d/1/b1!cHwaTaiy2LfOmip--EQBjjlcKY56iwqp8yn4TwVDCl24xMtAUimogqJ4r8JUHyWyi3FE2ohh_GdAdNTAQ_tdCbre9gzQJUzyxQPf720BmHEK8qcCMQPGzJLbOuOr3v6CK2UO5L0nlu34MtqAN6zMBahmAxmlZSt-iHG3IQBv70aw26rdId9F2EEMlDXr6kyIyfelxoSHFMh_FCd6fRDbPv2qwD7VkLrK7wosf6S-x-aYbUlIvd5eb1z8iSXZCgiTAYVqQjAMGw_ZtV8jXTlpuGTY0m_seIfAqTePR8LqoVZYg5vDIHcIpcV3EqfTLm61r2NPVkXDi7wF4IzELqUq4v6gay7PnWE1xtynRyyMwnhVwObmYa5icTJd0CqTNKF3Mflg6KDMRHgKgoOPubeL56Xm_vey9ECTPqVeQC6KzTi6mwudIEQ9lLe0SSiIdWy9jiPWTDE-cUvZk47p79rZPX31kpl70O7xAYHSCJhlFKlw9LRINxYD0spAlcWTq5OD2EOZlH41xNEBhsCW6Y-mBHonEPljRhBifKWud1G7vud_V_HSB0HTnCAHktUIGikMa-c9CYxbkkgMe0R_h-t9NiBZcvVgjhUcc50yjV82wNYWTEp78StP9mj6jjDi5fqFGzbObaJ6zG0z-BZ1K5M7LdSosAQpBZXKHT_rat9Ivm-v7u2F6VoVOIYifaBatRtWfTZrr099NtOzuAKs1XQOcSTLhIIHfysiyU3Nx6_EF_IncHz8T3urVzcGEJ1HJn9x1MWrarJOY3HzO_XGv4OStlfid7uzAp4F7WYLdkXCw6EpT1WffHsiaf8LBBjchetj6dOydt_hedMlTYxNPXw-op-uT5O6OEkuApU8Ac9N_7eIi89AjQhnchR-FakKX05QYSuyMIyyz81IypdHB8X3UxFRAlDBBCIKO9m1nDJjWE5UltFQnBResaKhYu8P8qYJ28RdN8rHPK7cWIajhItujvYBuKI_rFsk3BvrsXhstGKJZNcO2NnzMQP94fURwozYC4GrFZw5qZyiEHCubBX-ubfmMxammwog-SJlxmwb373uT0nLrI0NMI3bL4SAPS9Yzk1-dNGgBuNserkNGWnUY83EQNAHscwr21Q2qlliV0hWZGOf6XVxpkPymTs4RYWPPdXCXbkVbekR8SlSkhrSvvhyQbsBoo017k8ek5aiddoRo4fJYt50MJbBEQ1jx-OUdA3aKeSACX1gQ-XOGx3MVte7wqkUxGCB5u_WrayFK6YMzcy9O6yP9NMmCmEj78FDeLXMnznue6rfcX0T56CY__VYx-atrOLtlqX02Fn27VolgYox6361XmdXMqvaeu8CN3tTfOdg6mIgf2hAEXDY3y7bl_Mb6GiU1bm-glb9fPSogLfdfvg./download'
#df_data_dubai_rent = pd.read_csv(path)
#df_data_dubai_rent.replace(np.nan, 0, inplace=True)
#df_data_dubai_rent.to_csv('df_data_dubai_rent.csv')
#df_data_dubai_rent.head()

,Area,Apartments - 1 BR,Apartments - 2 BR,Apartments - 3 BR,Villas - 3 BR,Villas - 4 BR
0,Al Barsha,"68,968","91,587","112,190","165,000","200,000"
1,Al Karama,"72,166","95,101","109,728",0,"150,000"
2,Al Quoz,"54,021","72,226","127,500","142,500","179,600"
3,Al Qusais,"51,137","70,385","86,800","82,000",0
4,Al Sufouh,"81,929","107,000","165,000","245,417","260,000"

In [88]:
df_data_dubai_rent_csv = pd.read_csv('df_data_dubai_rent.csv')
df_data_dubai_rent_csv.head(5)

,Unnamed: 0,Area,Apartments - 1 BR,Apartments - 2 BR,Apartments - 3 BR,Villas - 3 BR,Villas - 4 BR
0,0,Al Barsha,"68,968","91,587","112,190","165,000","200,000"
1,1,Al Karama,"72,166","95,101","109,728",0,"150,000"
2,2,Al Quoz,"54,021","72,226","127,500","142,500","179,600"
3,3,Al Qusais,"51,137","70,385","86,800","82,000",0
4,4,Al Sufouh,"81,929","107,000","165,000","245,417","260,000"

In [6]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library

print('Folium installed')

print('Libraries imported.')

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/DSX-Python35

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    geopy-1.19.0               |             py_0          53 KB  conda-forge
    certifi-2018.8.24          |        py35_1001         139 KB  conda-forge
    ca-certificates-2019.3.9   |       hecc5488_0         146 KB  conda-forge
    openssl-1.0.2r             |       h14c3975_0         3.1 MB  conda-forge
    geographiclib-1.49         |             py_0          32 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         3.5 MB

The following NEW packages will be INSTALLED:

    geographiclib:   1.49-py_0         conda-forge
    geopy:           1.19.0-py_0       conda-forge

The following packages will be UPDATED:

    ca-certificates: 2019.1.23-0                   --> 2019.3.9-hecc5488_0 conda-forge
    certifi:         2018.8.24-py35_1              --> 2018.8.24-py35_1001 conda-forge
    openssl:         1.0.2p-h14c3975_0             --> 1.0.2r-h14c3975_0   conda-forge


Downloading and Extracting Packages
geopy-1.19.0         | 53 KB     | ##################################### | 100%
certifi-2018.8.24    | 139 KB    | ##################################### | 100%
ca-certificates-2019 | 146 KB    | ##################################### | 100%
openssl-1.0.2r       | 3.1 MB    | ##################################### | 100%
geographiclib-1.49   | 32 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/DSX-Python35

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    branca-0.3.1               |             py_0          25 KB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    altair-2.2.2               |           py35_1         462 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         560 KB

The following NEW packages will be INSTALLED:

    altair:  2.2.2-py35_1 conda-forge
    branca:  0.3.1-py_0   conda-forge
    folium:  0.5.0-py_0   conda-forge
    vincent: 0.4.4-py_1   conda-forge


Downloading and Extracting Packages
branca-0.3.1         | 25 KB     | ##################################### | 100%
folium-0.5.0         | 45 KB     | ##################################### | 100%
vincent-0.4.4        | 28 KB     | ##################################### | 100%
altair-2.2.2         | 462 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Folium installed
Libraries imported.

In [7]:
# @hidden_cell
CLIENT_ID = '2NJKFZUIRT2ENHQC2N0W33C5JIYUL1KQ15NCONHIN1O2PTML' # your Foursquare ID
CLIENT_SECRET = '' # your Foursquare Secret
#print('Your credentails:')
#print('CLIENT_ID: ' + CLIENT_ID)
#print('CLIENT_SECRET:' + CLIENT_SECRET)

In [8]:
VERSION = '20181206'
LIMIT = 30

In [9]:
#address = 'World Trade Centre Metro Station, Dubai'
#geolocator = Nominatim(user_agent="foursquare_agent")
#location = geolocator.geocode(address)
#latitude = location.latitude
latitude = 25.180685
#longitude = location.longitude
longitude = 55.240945
print(latitude, longitude)

25.180685 55.240945

In [10]:
search_query = 'Pharmacy'
LIMIT = 20 # limit of number of venues returned by Foursquare API
radius = 50 # define radius

In [11]:
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&search_query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query,radius, LIMIT)
#url

In [12]:
results = requests.get(url).json()

#results

In [13]:
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
dataframe = json_normalize(venues)
dataframe.count()

categories                   20
hasPerk                      20
id                           20
location.address              8
location.cc                  20
location.city                19
location.country             20
location.crossStreet          4
location.distance            20
location.formattedAddress    20
location.labeledLatLngs      18
location.lat                 20
location.lng                 20
location.state               19
name                         20
referralId                   20
dtype: int64

In [14]:
# keep only columns that include venue name, and anything that is associated with location
filtered_columns = ['name', 'categories'] + [col for col in dataframe.columns if col.startswith('location.')] + ['id']
dataframe_filtered = dataframe.loc[:, filtered_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

# filter the category for each row
dataframe_filtered['categories'] = dataframe_filtered.apply(get_category_type, axis=1)

# clean column names by keeping only last term
dataframe_filtered.columns = [column.split('.')[-1] for column in dataframe_filtered.columns]

dataframe_filtered

,name,categories,address,cc,city,country,crossStreet,distance,formattedAddress,labeledLatLngs,lat,lng,state,id
0,Library,Library,NaN,AE,دبي,الإمارات العربية المتحدة,NaN,151,"[دبي, الإمارات العربية المتحدة]","[{'label': 'display', 'lng': 55.240039, 'lat':...",25.179600,55.240039,دبي,59e499459411f24b077047e4
1,Al Ittihad Private School,Private School,Jumeirah,AE,دبي,الإمارات العربية المتحدة,Medcare,67,"[Jumeirah (Medcare), دبي, الإمارات العربية الم...","[{'label': 'display', 'lng': 55.24114255290558...",25.181261,55.241143,دبي,4cf325c26195721ec8914bc1
2,Jumeirah (الجميرة),Neighborhood,NaN,AE,دبي,الإمارات العربية المتحدة,NaN,661,"[دبي, الإمارات العربية المتحدة]",NaN,25.186190,55.238477,دبي,514c3943e4b07ac94e8c7ae5
3,Mr.Joseph Class,High School,NaN,AE,دبي,الإمارات العربية المتحدة,NaN,51,"[دبي, الإمارات العربية المتحدة]","[{'label': 'display', 'lng': 55.240476, 'lat':...",25.180872,55.240476,دبي,59ed67b5e96d0c68a646a59b
4,Curry On,None,Beach Road,AE,دبي,الإمارات العربية المتحدة,NaN,491,"[Beach Road, دبي, الإمارات العربية المتحدة]","[{'label': 'display', 'lng': 55.237678, 'lat':...",25.183968,55.237678,دبي,4b6c4621f964a520192d2ce3
5,Hell,Student Center,NaN,AE,NaN,الإمارات العربية المتحدة,NaN,103,[الإمارات العربية المتحدة],"[{'label': 'display', 'lng': 55.24157958309897...",25.181419,55.241580,NaN,4f4f251de4b05c40d6451c3b
6,Al Ferdous,Shopping Plaza,NaN,AE,دبي,الإمارات العربية المتحدة,NaN,458,"[دبي, الإمارات العربية المتحدة]","[{'label': 'display', 'lng': 55.236458, 'lat':...",25.181395,55.236458,دبي,5ca75dd1b25fee002cd27a31
7,Al Safa 1,Neighborhood,NaN,AE,دبي,الإمارات العربية المتحدة,NaN,451,"[دبي, الإمارات العربية المتحدة]",NaN,25.177346,55.238402,دبي,4d483c06564e224b7ef5d9cd
8,Le Bon Gout Cafe & Restaurant,Restaurant,La Mar,AE,دبي,الإمارات العربية المتحدة,Al Wasl Road,663,"[La Mar (Al Wasl Road), دبي, الإمارات العربية ...","[{'label': 'display', 'lng': 55.238396, 'lat':...",25.186180,55.238396,دبي,5bce5e718b98fd002c58b109
9,Sweet Salvation,Ice Cream Shop,"City Walk, Al Wasl Rd. Building L12-06, Unit 8...",AE,دبي,الإمارات العربية المتحدة,NaN,540,"[City Walk, Al Wasl Rd. Building L12-06, Unit ...","[{'label': 'display', 'lng': 55.238495, 'lat':...",25.185002,55.238495,دبي,59e79e01acc5f52d257b6667
10,Dubai Karate Club,Martial Arts Dojo,NaN,AE,دبي,الإمارات العربية المتحدة,NaN,147,"[دبي, الإمارات العربية المتحدة]","[{'label': 'display', 'lng': 55.23981528964841...",25.179840,55.239815,دبي,4dccd3bb45ddbe15f8612409
11,"Villa 66b 20/32 8b Street, Al Wasl Rd.,",Residential Building (Apartment / Condo),NaN,AE,دبي,الإمارات العربية المتحدة,NaN,447,"[دبي, الإمارات العربية المتحدة]","[{'label': 'display', 'lng': 55.23724053257368...",25.178460,55.237241,دبي,4d8ed0f61716a143adc83cf7
12,مسجد علي بن ابي طالب Ali Bin Abi Talib Mosque,Mosque,NaN,AE,دبي,الإمارات العربية المتحدة,NaN,150,"[دبي, الإمارات العربية المتحدة]","[{'label': 'display', 'lng': 55.239458, 'lat':...",25.180581,55.239458,دبي,59d5fe1c15173e2ac6a1bfaf
13,Al Safa Club,Tennis Court,Jumeirah 3,AE,دبي,الإمارات العربية المتحدة,Al Wasl Road,455,"[Jumeirah 3 (Al Wasl Road), دبي, الإمارات العر...","[{'label': 'display', 'lng': 55.23643247968687...",25.180990,55.236432,دبي,4f0ff980e4b03856eec37d25
14,Safa Private School,Student Center,Safa,AE,دبي,الإمارات العربية المتحدة,Al Wasl,304,"[Safa (Al Wasl), دبي, الإمارات العربية المتحدة]","[{'label': 'display', 'lng': 55.23860134730481...",25.178961,55.238601,دبي,4fb4790fe4b0f745c7a78995
15,Mr Hani Is Class,College Classroom,NaN,AE,دبي,الإمارات العربية المتحدة,NaN,103,"[دبي, الإمارات العربية المتحدة]","[{'label': 'display', 'lng': 55.239914, 'lat':...",25.180655,55.239914,دبي,59f0442762420b30bd763d2a
16,Tilda,Moving Target,Moey's Car,AE,دبي,الإمارات العربية المتحدة,NaN,713,"[Moey's Car, دبي, الإمارات العربية المتحدة]","[{'label': 'display', 'lng': 55.24598238161442...",25.176185,55.245982,دبي,512b687ae4b0e1bba86d82a1
17,Secret BBQ Place,BBQ Joint,NaN,AE,دبي,الإمارات العربية المتحدة,NaN,181,"[دبي, الإمارات العربية المتحدة]","[{'label': 'display', 'lng': 55.239228, 'lat':...",25.181183,55.239228,دبي,51911da0498e24b8ca78c3f5
18,Mr Abdulrahman Barkat,School,NaN,AE,دبي,الإمارات العربية المتحدة,NaN,69,"[دبي, الإمارات العربية المتحدة]","[{'label': 'display', 'lng': 55.240281, 'lat':...",25.180501,55.240281,دبي,59f6c1bb6c08d16511f6317a
19,Ekta's and Tanuj's,None,Jumeirah,AE,دبي,الإمارات العربية المتحدة,NaN,553,"[Jumeirah, دبي, الإمارات العربية المتحدة]","[{'label': 'display', 'lng': 55.244543, 'lat':...",25.176922,55.244543,دبي,4cefcd37ed62721ecf6f62fd

In [15]:
#dataframe_filtered = dataframe_filtered.head(30)
dataframe_filtered.head(30)

,name,categories,address,cc,city,country,crossStreet,distance,formattedAddress,labeledLatLngs,lat,lng,state,id
0,Library,Library,NaN,AE,دبي,الإمارات العربية المتحدة,NaN,151,"[دبي, الإمارات العربية المتحدة]","[{'label': 'display', 'lng': 55.240039, 'lat':...",25.179600,55.240039,دبي,59e499459411f24b077047e4
1,Al Ittihad Private School,Private School,Jumeirah,AE,دبي,الإمارات العربية المتحدة,Medcare,67,"[Jumeirah (Medcare), دبي, الإمارات العربية الم...","[{'label': 'display', 'lng': 55.24114255290558...",25.181261,55.241143,دبي,4cf325c26195721ec8914bc1
2,Jumeirah (الجميرة),Neighborhood,NaN,AE,دبي,الإمارات العربية المتحدة,NaN,661,"[دبي, الإمارات العربية المتحدة]",NaN,25.186190,55.238477,دبي,514c3943e4b07ac94e8c7ae5
3,Mr.Joseph Class,High School,NaN,AE,دبي,الإمارات العربية المتحدة,NaN,51,"[دبي, الإمارات العربية المتحدة]","[{'label': 'display', 'lng': 55.240476, 'lat':...",25.180872,55.240476,دبي,59ed67b5e96d0c68a646a59b
4,Curry On,None,Beach Road,AE,دبي,الإمارات العربية المتحدة,NaN,491,"[Beach Road, دبي, الإمارات العربية المتحدة]","[{'label': 'display', 'lng': 55.237678, 'lat':...",25.183968,55.237678,دبي,4b6c4621f964a520192d2ce3
5,Hell,Student Center,NaN,AE,NaN,الإمارات العربية المتحدة,NaN,103,[الإمارات العربية المتحدة],"[{'label': 'display', 'lng': 55.24157958309897...",25.181419,55.241580,NaN,4f4f251de4b05c40d6451c3b
6,Al Ferdous,Shopping Plaza,NaN,AE,دبي,الإمارات العربية المتحدة,NaN,458,"[دبي, الإمارات العربية المتحدة]","[{'label': 'display', 'lng': 55.236458, 'lat':...",25.181395,55.236458,دبي,5ca75dd1b25fee002cd27a31
7,Al Safa 1,Neighborhood,NaN,AE,دبي,الإمارات العربية المتحدة,NaN,451,"[دبي, الإمارات العربية المتحدة]",NaN,25.177346,55.238402,دبي,4d483c06564e224b7ef5d9cd
8,Le Bon Gout Cafe & Restaurant,Restaurant,La Mar,AE,دبي,الإمارات العربية المتحدة,Al Wasl Road,663,"[La Mar (Al Wasl Road), دبي, الإمارات العربية ...","[{'label': 'display', 'lng': 55.238396, 'lat':...",25.186180,55.238396,دبي,5bce5e718b98fd002c58b109
9,Sweet Salvation,Ice Cream Shop,"City Walk, Al Wasl Rd. Building L12-06, Unit 8...",AE,دبي,الإمارات العربية المتحدة,NaN,540,"[City Walk, Al Wasl Rd. Building L12-06, Unit ...","[{'label': 'display', 'lng': 55.238495, 'lat':...",25.185002,55.238495,دبي,59e79e01acc5f52d257b6667
10,Dubai Karate Club,Martial Arts Dojo,NaN,AE,دبي,الإمارات العربية المتحدة,NaN,147,"[دبي, الإمارات العربية المتحدة]","[{'label': 'display', 'lng': 55.23981528964841...",25.179840,55.239815,دبي,4dccd3bb45ddbe15f8612409
11,"Villa 66b 20/32 8b Street, Al Wasl Rd.,",Residential Building (Apartment / Condo),NaN,AE,دبي,الإمارات العربية المتحدة,NaN,447,"[دبي, الإمارات العربية المتحدة]","[{'label': 'display', 'lng': 55.23724053257368...",25.178460,55.237241,دبي,4d8ed0f61716a143adc83cf7
12,مسجد علي بن ابي طالب Ali Bin Abi Talib Mosque,Mosque,NaN,AE,دبي,الإمارات العربية المتحدة,NaN,150,"[دبي, الإمارات العربية المتحدة]","[{'label': 'display', 'lng': 55.239458, 'lat':...",25.180581,55.239458,دبي,59d5fe1c15173e2ac6a1bfaf
13,Al Safa Club,Tennis Court,Jumeirah 3,AE,دبي,الإمارات العربية المتحدة,Al Wasl Road,455,"[Jumeirah 3 (Al Wasl Road), دبي, الإمارات العر...","[{'label': 'display', 'lng': 55.23643247968687...",25.180990,55.236432,دبي,4f0ff980e4b03856eec37d25
14,Safa Private School,Student Center,Safa,AE,دبي,الإمارات العربية المتحدة,Al Wasl,304,"[Safa (Al Wasl), دبي, الإمارات العربية المتحدة]","[{'label': 'display', 'lng': 55.23860134730481...",25.178961,55.238601,دبي,4fb4790fe4b0f745c7a78995
15,Mr Hani Is Class,College Classroom,NaN,AE,دبي,الإمارات العربية المتحدة,NaN,103,"[دبي, الإمارات العربية المتحدة]","[{'label': 'display', 'lng': 55.239914, 'lat':...",25.180655,55.239914,دبي,59f0442762420b30bd763d2a
16,Tilda,Moving Target,Moey's Car,AE,دبي,الإمارات العربية المتحدة,NaN,713,"[Moey's Car, دبي, الإمارات العربية المتحدة]","[{'label': 'display', 'lng': 55.24598238161442...",25.176185,55.245982,دبي,512b687ae4b0e1bba86d82a1
17,Secret BBQ Place,BBQ Joint,NaN,AE,دبي,الإمارات العربية المتحدة,NaN,181,"[دبي, الإمارات العربية المتحدة]","[{'label': 'display', 'lng': 55.239228, 'lat':...",25.181183,55.239228,دبي,51911da0498e24b8ca78c3f5
18,Mr Abdulrahman Barkat,School,NaN,AE,دبي,الإمارات العربية المتحدة,NaN,69,"[دبي, الإمارات العربية المتحدة]","[{'label': 'display', 'lng': 55.240281, 'lat':...",25.180501,55.240281,دبي,59f6c1bb6c08d16511f6317a
19,Ekta's and Tanuj's,None,Jumeirah,AE,دبي,الإمارات العربية المتحدة,NaN,553,"[Jumeirah, دبي, الإمارات العربية المتحدة]","[{'label': 'display', 'lng': 55.244543, 'lat':...",25.176922,55.244543,دبي,4cefcd37ed62721ecf6f62fd

In [16]:
venues_map = folium.Map(location=[latitude, longitude], zoom_start=50) # generate map centred around the Conrad Hotel

# add Ecco as a red circle mark
folium.features.CircleMarker(
    [latitude, longitude],
    radius=10,
    popup='Ecco',
    fill=True,
    color='red',
    fill_color='red',
    fill_opacity=0.6
    ).add_to(venues_map)

# add popular spots to the map as blue circle markers
for lat, lng, label in zip(dataframe_filtered.lat, dataframe_filtered.lng, dataframe_filtered.categories):
    folium.features.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        fill=True,
        color='blue',
        fill_color='blue',
        fill_opacity=0.6
        ).add_to(venues_map)



# display map
venues_map

## Methodology

With above data, I can build a content-based recommender systems to provide recommendation by comibining Average rental, average school fees, cluster.

Combine with FourSquare API on counting how many different venues (Food, pharmacy, metro station, library, martial arts) to determine stake holders favorite list.

## Results

TBD

## Discussion

In [ ]:
TBD

## Conclusion

In [ ]:
TBD