In [1]:
import pandas as pd
import datetime as dt
from datetime import date, time, datetime, tzinfo, timedelta

In [5]:
excel_file = 'Z://Solar Generated Data/MBRS PH1 GEN MW  - June 18 to June 19.xlsx'
xlsx = pd.ExcelFile(excel_file)
power_generated_sheets = []
for sheet in xlsx.sheet_names:
    power_generated_sheets.append(xlsx.parse(sheet))
    power_generated = pd.concat(power_generated_sheets)
    
power_generated.head()

   Unnamed: 0  Unnamed: 1           Unnamed: 2 Unnamed: 3
0         NaN         NaN                  NaN     10.955
1         NaN         NaN                 TIME  GEN in MW
2         NaN         NaN  2018-06-01 00:00:00     -0.241
3         NaN         NaN  2018-06-01 00:01:00     -0.241
4         NaN         NaN  2018-06-01 00:02:00     -0.241